.flex, .menu-wrapper, .logo, .signin, .top-heading, .banner-wrapper, .banner-form-wrapper .row, .bottom-banner-wrapper .row, .search-form, .category-item, .hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.v-center, .menu-wrapper, .logo, .signin, .top-heading, .banner-wrapper, .banner-form-wrapper .row, .bottom-banner-wrapper .row, .search-form, .category-item, .hamburger-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.j-content-center, .banner-wrapper, .company-summary .top-heading, .banner-form-wrapper .row, .bottom-banner-wrapper .row, .search-form, .category-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.j-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.border {
    border: 1px solid;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.active-button {
    top: 10px;
    right: 10px;
}

body {
    font-family: "Arsenal", sans-serif;
    font-size: 14px;
}

.main-container {
    max-width: calc(0.0625em * 1440);
}

.content-container {
    max-width: calc(0.0625em * 1200);
}

.logo-row-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: white;
    z-index: 999;
}

.menu-container {
    background-color: #ececec;
}

.ibutton, .menu-wrapper .menu .button, .signin .signin-content .button, .modal-close-btn, .signin-button, .signup-instead, .forgot-password, .social-login-row a {
    margin-bottom: unset;
    border: unset;
}

.menubar-container {
    max-width: 1440px;
}

.menu-wrapper {
    min-height: calc(0.0625em * 50);
    height: calc(0.0625em * 50);
    margin-top: calc(0.0625em * 65);
    padding: calc(0.0625em * 7.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.menu-wrapper .menu {
    position: relative;
}

.menu-wrapper .menu .button {
    position: relative;
    z-index: 12;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.menu-wrapper .menu .button:hover {
    color: white;
}

.menu-wrapper .menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    background-color: #0c6130;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-wrapper .menu:hover:before {
    height: 50%;
}

.menu-wrapper .menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    background-color: #0c6130;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-wrapper .menu:hover:after {
    height: 50%;
}

.cat-latest-section, .latest, .categories {
    background-color: #ececec;
    min-height: calc(0.0625em * 500);
    padding-top: calc(0.0625em * 50);
    padding-bottom: calc(0.0625em * 50);
}

.logo {
    min-height: calc(0.0625em * 58);
}

.logo .logo-content {
    padding-left: calc(0.0625em * 10);
}

.logo-row {
    max-width: calc(0.0625em * 1440);
    min-height: calc(0.0625em * 60);
}

.signin {
    min-height: calc(0.0625em * 58);
}

.signin .signin-content {
    padding-right: calc(0.0625em * 10);
}

.signin .signin-content .button {
    font-size: 13px;
}

.signin .signin-content .button-signup {
    background-color: #0c6130;
    color: white;
}

.top-heading {
    padding: calc(0.0625em * 10);
    opacity: .8;
    position: relative;
}

.top-heading:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.small-text {
    font-size: 17px;
    display: block;
    font-style: italic;
    word-spacing: 3px;
}

@media screen and (min-width: 1025px) {
    .more-menu-icon {
        display: none;
    }
}

.banner-wrapper {
    background-image: url("https://cdn.enginethemes.com/microjobengine/sites/2/5.jpg");
    min-height: calc(0.0625em * 500);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.banner-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.company-summary {
    background-color: white;
    margin-top: calc(0.0625em * 100);
    margin-bottom: calc(0.0625em * 150);
}

.company-summary .top-heading {
    color: #27ae60;
}

.company-summary p {
    line-height: calc(0.0625em * 30);
    font-size: calc(0.0625em * 20);
    opacity: .7;
    text-align: center;
}

.company-summary p i.fa-quote-left {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.company-summary p i.fa-quote-right {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
}

.company-summary p i {
    font-size: calc(0.0625em * 40);
    opacity: .4;
}

.company-summary p .first-letter {
    font-size: calc(0.0625em * 50);
    color: #ae3127;
}

.badge .what-icon-container {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(0.0625em * 100);
    margin-bottom: calc(0.0625em * 20);
}

.badge .text {
    text-align: center;
    color: rgba(174, 49, 39, 0.6);
    text-transform: uppercase;
}

.badge-testimony {
    text-align: center;
    font-size: calc(0.0625em * 18);
    opacity: .5;
}

.banner-form-wrapper, .bottom-banner-wrapper {
    position: absolute;
    z-index: 10;
    width: 50%;
}

.banner-form-wrapper h1, .bottom-banner-wrapper h1 {
    color: white;
    text-align: center;
    line-height: 60px;
}

.banner-form-wrapper .row form, .bottom-banner-wrapper .row form {
    margin-bottom: unset;
}

.banner-form-wrapper .row form input, .bottom-banner-wrapper .row form input {
    margin-bottom: unset;
    border: unset;
    border-radius: unset;
    font-size: 18px;
    margin-left: unset;
}

.banner-form-wrapper .row form button, .bottom-banner-wrapper .row form button {
    background-color: #27ae60;
    border: unset;
    color: white;
    border-radius: unset;
    font-size: 18px;
}

.search-form {
    height: 38px;
    border-radius: 5px;
}

.search-form .search-container button {
    margin-left: 0;
}

.looking-text {
    height: 38px;
    background-color: white;
}

.base-button {
    background-color: #27ae60;
    border: unset;
    color: white;
}

.join-button {
    font-size: 18px;
}

.latest-item, .category-item {
    min-height: calc(0.0625em * 340);
    margin-bottom: calc(0.0625em * 20);
    background-color: white;
    box-shadow: 2px 5px 43px rgba(188, 207, 219, 0.65);
    border-radius: 4px;
}

.item-img {
    min-height: calc(0.0625em * 176.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-desc {
    font-size: calc(0.0625em * 14);
    padding: calc(0.0625em * 15);
}

.caption h5 a {
    font-size: calc(0.0625em * 14);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    width: 196px;
    display: inline-block;
    text-overflow: ellipsis;
}

.caption h5 a:hover {
    color: #27ae60;
}

.author-row {
    margin-top: calc(0.0625em * 2);
    margin-bottom: calc(0.0625em * 10);
    font-size: calc(0.0625em * 18);
}

.author-row .author-rating i {
    margin-left: calc(0.0625em * 5);
    color: #27ae60;
}

.price-row div .price {
    font-size: calc(0.0625em * 40);
    color: #27ae60;
}

.category-item {
    min-height: calc(0.0625em * 264);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.category-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 4px;
}

.category-item .item-text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: calc(0.0625em * 22);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.category-page-header h4 {
    padding-top: 20px;
}

.member a i {
    font-size: 16px;
}

.member .post-job span {
    padding-right: 10px;
    display: inline-block;
    font-size: 13px;
}

.member .post-job i {
    color: #0c6130;
}

.member .member-avatar {
    display: inline-block;
    padding-left: 7px;
    padding-right: 10px;
    font-size: 13px;
}

footer {
    min-height: calc(0.0625em * 400);
    padding-top: calc(0.0625em * 40);
    padding-bottom: calc(0.0625em * 40);
    background-color: black;
}

.footer-div {
    color: white;
}

.footer-div h5 {
    color: #27ae60;
    opacity: .6;
}

.footer-div ul {
    opacity: .8;
}

@media screen and (min-width: 1000px) {
    .avatar {
        right: 15%;
    }
}

@media screen and (min-width: 750px) {
    .search-form .search-container button {
        padding: unset;
    }
}

@media screen and (min-width: 750px) {
    .tablet-four {
        width: 36% !important;
    }
}

@media screen and (min-width: 1000px) {
    .tablet-four {
        width: inherit !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .tablet-two {
        width: 48% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tablet-two:nth-child(3n) {
        margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .mobile-three {
        width: 30% !important;
    }
}

@media screen and (max-width: 550px) {
    .mobile-seven {
        width: 70% !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .banner-form-wrapper,
  .bottom-banner-wrapper {
        width: 90%;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
}

@media screen and (max-width: 750px) {
    .banner-form-wrapper,
  .bottom-banner-wrapper {
        width: 70%;
    }
}

.banner-form-wrapper .row:nth-child(1) {
    margin-bottom: 30px;
}

.banner-form-wrapper .row:nth-child(1) h1 small {
    line-height: normal;
    padding-bottom: 20px;
}

@media screen and (max-width: 550px) {
    .menu-wrapper {
        -webkit-transition: all 1s;
        transition: all 1s;
        height: 0px;
        min-height: 0px;
        padding: 0px;
        margin-top: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.hamburger-active {
    height: calc(0.0625em * 350);
}

.hamburger-container {
    min-height: calc(0.0625em * 50);
    margin-top: calc(0.0625em * 65);
    padding: calc(0.0625em * 7.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .top-heading {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.mobile-member-menu {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .mobile-member-menu {
        position: fixed;
        background-color: white;
        top: 0;
        right: 0px;
        width: 50%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 9999;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: hidden;
        -webkit-transition: all .7s;
        transition: all .7s;
    }
}

@media screen and (max-width: 768px) {
    .mobile-member-menu a {
        margin-bottom: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.mobile-categories-menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .mobile-categories-menu {
        position: fixed;
        background-color: #27ae60;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 9999;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: hidden;
        -webkit-transition: all .7s;
        transition: all .7s;
    }
}

@media screen and (max-width: 768px) {
    .mobile-categories-menu a {
        margin-bottom: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        color: white;
    }
}

@media screen and (max-width: 550px) {
    .m-hide {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .t-hide {
        display: none !important;
    }
}

@media screen and (min-width: 1001px) {
    .l-hide {
        display: none !important;
    }
}

.mobile-menu-show {
    visibility: visible !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

@media screen and (max-width: 768px) {
    .tablet-container.full {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

.modal-close-btn {
    font-size: 18px;
    color: white;
}

.signin-modal-header h4 {
    color: white;
}

.signin-modal-header, .signin-button, .signup-instead {
    background-color: #27ae60;
}

.signin-button, .signup-instead {
    color: white;
}

.signin-form input {
    border-radius: unset;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-color: gray;
    border-bottom: 1px solid;
    margin: 20px 0;
}

.social-login-row {
    margin: 20px 0;
}

.social-login-row a {
    padding: 0 15px;
    font-size: 16px;
}

h2.horizontal-rule {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2.horizontal-rule span {
    background: #fff;
    padding: 0 10px;
    font-size: 20px;
}

.avatar {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-image: url(http://lorempixel.com/50/50/people);
    height: 40px;
    width: 40px;
    top: 8px;
    left: 850px;
}

@media screen and (max-width: 550px) {
    .avatar {
        left: 300px;
    }
}
