.flex, .menu-wrapper, .logo, .signin, .top-heading, .category-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.v-center, .menu-wrapper, .logo, .signin, .top-heading, .category-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.j-content-center, .company-summary .top-heading, .category-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.j-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.border {
    border: 1px solid;
}

body {
    font-family: "Arsenal", sans-serif;
    font-size: 14px;
}

.main-container {
    max-width: calc(0.0625em * 1440);
}

.content-container {
    max-width: calc(0.0625em * 1200);
}

.logo-row-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: white;
    z-index: 10000;
}

.menu-container {
    background-color: #ececec;
}

.ibutton, .menu-wrapper .menu .button, .signin .signin-content .button {
    margin-bottom: unset;
    border: unset;
}

.menu-wrapper {
    min-height: calc(0.0625em * 50);
    margin-top: calc(0.0625em * 65);
    padding: calc(0.0625em * 7.5);
}

.menu-wrapper .menu {
    position: relative;
}

.menu-wrapper .menu .button {
    position: relative;
    z-index: 12;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.menu-wrapper .menu .button:hover {
    color: white;
}

.menu-wrapper .menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    background-color: #0c6130;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-wrapper .menu:hover:before {
    height: 50%;
}

.menu-wrapper .menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    background-color: #0c6130;
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.menu-wrapper .menu:hover:after {
    height: 50%;
}

.cat-latest-section, .latest, .categories {
    background-color: #ececec;
    min-height: calc(0.0625em * 500);
    padding-top: calc(0.0625em * 50);
    padding-bottom: calc(0.0625em * 50);
}

.logo {
    min-height: calc(0.0625em * 58);
}

.logo .logo-content {
    padding-left: calc(0.0625em * 10);
}

.logo-row {
    max-width: calc(0.0625em * 1440);
    min-height: calc(0.0625em * 60);
}

.signin {
    min-height: calc(0.0625em * 58);
}

.signin .signin-content {
    padding-right: calc(0.0625em * 10);
}

.signin .signin-content .button-signup {
    background-color: #0c6130;
    color: white;
}

.top-heading {
    padding: calc(0.0625em * 10);
    opacity: .8;
    position: relative;
}

.top-heading:after {
    content: "";
    position: absolute;
    z-index: 1;
    border-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.banner-wrapper {
    background-image: url("http://lorempixel.com/1440/500/technics");
    min-height: calc(0.0625em * 500);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.company-summary {
    background-color: white;
    margin-top: calc(0.0625em * 100);
    margin-bottom: calc(0.0625em * 150);
}

.company-summary .top-heading {
    color: #27ae60;
}

.company-summary p {
    line-height: calc(0.0625em * 30);
    font-size: calc(0.0625em * 20);
    opacity: .7;
    text-align: center;
}

.company-summary p i.fa-quote-left {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.company-summary p i.fa-quote-right {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
}

.company-summary p i {
    font-size: calc(0.0625em * 40);
    opacity: .4;
}

.company-summary p .first-letter {
    font-size: calc(0.0625em * 50);
    color: #ae3127;
}

.badge .what-icon-container {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(0.0625em * 100);
    margin-bottom: calc(0.0625em * 20);
}

.badge .text {
    text-align: center;
    color: rgba(174, 49, 39, 0.6);
    text-transform: uppercase;
}

.badge-testimony {
    text-align: center;
    font-size: calc(0.0625em * 18);
    opacity: .5;
}

.latest-item, .category-item {
    min-height: calc(0.0625em * 340);
    margin-bottom: calc(0.0625em * 20);
    background-color: white;
    box-shadow: 2px 5px 43px rgba(188, 207, 219, 0.65);
    border-radius: 4px;
}

.item-img {
    min-height: calc(0.0625em * 176.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-desc {
    font-size: calc(0.0625em * 14);
    padding: calc(0.0625em * 15);
}

.caption h5 a {
    font-size: calc(0.0625em * 14);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: black;
    cursor: pointer;
}

.caption h5 a:hover {
    color: #27ae60;
}

.author-row {
    margin-top: calc(0.0625em * 2);
    margin-bottom: calc(0.0625em * 10);
    font-size: calc(0.0625em * 18);
}

.author-row .author-rating i {
    margin-left: calc(0.0625em * 5);
    color: #27ae60;
}

.price-row div .price {
    font-size: calc(0.0625em * 40);
    color: #27ae60;
}

.category-item {
    min-height: calc(0.0625em * 264);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.category-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 4px;
}

.category-item .item-text {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: calc(0.0625em * 22);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

footer {
    min-height: calc(0.0625em * 400);
    padding-top: calc(0.0625em * 40);
    padding-bottom: calc(0.0625em * 40);
    background-color: black;
}

.footer-div {
    color: white;
}

.footer-div h5 {
    color: #27ae60;
    opacity: .6;
}

.footer-div ul {
    opacity: .8;
}
