extends pages_layout
block subTopHeader
  .twelve.columns
    .row.category-main-header.flex.v-center(style="flex-wrap: wrap")
      .twelve.columns.tablet-container.full
        .row.category-page-header.flex.v-center
          .twelve.columns.mobile-center
            h4 Conversation 
        hr.normal-hr
block sidebar
  .row.profile-row
    .twelve.columns.florescent-shadow
      .row.flex.v-center.column-direction
        .twelve.columns
          .flex.v-center.column-direction.j-content-center
            h5 CUSTOM ORDERS
            p No Custom Orders
          hr.normal-hr

block contentArea
  .row
    .twelve.columns
      .chat-area
        .chat-history
          .row.seller-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  .chat-avatar
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-left
                        p.seller-text-bg this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
          .row.buyer-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  | &nbsp;
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-right
                        p.buyer-text-bg.
                          this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
          .row.seller-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  .chat-avatar
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-left
                        p.seller-text-bg this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
          .row.buyer-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  | &nbsp;
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-right
                        p.buyer-text-bg.
                          this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
          .row.seller-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  .chat-avatar
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-left
                        p.seller-text-bg this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
          .row.buyer-reply
            .twelve.columns.flex.v-center.single-chat-container
              .row
                .two.columns.chat-avatar-container.flex.j-center.v-center
                  | &nbsp;
                .eight.columns.flex.v-center
                  div.chat-text-container
                    .row
                      .ten.columns.u-pull-right
                        p.buyer-text-bg.
                          this is the thing that we are all talking about and I know that we are going to share in the process of all the htings that we are talkina 
                .two.columns.flex.v-center.j-content-end.date-stamp-container.u-pull-right
                  p Monday, 21st 2018
        input.chat-input(placeholder="Type here")