extends base_layout
block loggedInMenu
  .four.columns.u-pull-right.tablet-four.mobile-seven
    div.u-pull-right.signin
      .signin-content
        a(href="#", class="button", type='button', data-toggle='modal', data-target='#signinModal') Signin
        a(href="#", class="button button-signup" type='button', data-toggle='modal', data-target='#signupModal') SignUp
block content
  .row
    .twelve.columns
      .banner-wrapper
        .banner-form-wrapper
          .row
            h1.twelve.columns Get your stuffs done from &#8358;1000
              small.small-text Browse through millions of micro jobs. Choose one you trust. Pay as you go.
          .row
            form(class="ten columns search-form")
              .search-container.twelve.columns
                div.looking-text.three.columns.flex.v-center.j-content-center I am looking for..
                input(type="text", class="six columns", placeholder="Search....")
                button(type="submit", class="three columns", style="margin-left: 0") Search
  .row
    .twelve.columns
      .company-summary
        .container
          h1.top-heading What is &nbsp;
            b ServiceMart
            | ?
          p
            i(class="fa fa-quote-left")
            | &nbsp;&nbsp;
            span(class="first-letter") S
            | erviceMart allows buyers to find the suitable service providers, order a micro job, communicate and get tasks done quickly. With ServiceMart, users can easily focus on details of each mico job. Our platform also includes a secure payment system so that users can make safe transactions right on the platform.
            | &nbsp; &nbsp;
            i(class="fa fa-quote-right")
  .row
    .twelve.columns
      .latest
        .container.content-container
          h1.top-heading Latest ServiceMart Jobs
          .row
            .twelve.columns
              .row.latest-grid
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/abstract')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will create a story telling style for your sales page
                    .row.author-row
                      .six.columns.author-name
                        | Perce Throne
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/fashion')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will act as a user and test your website
                    .row.author-row
                      .six.columns.author-name
                        | Kim Petit
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/nature')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will create the best DJ logo on MicrojobEngine
                    .row.author-row
                      .six.columns.author-name
                        | Luke Nguyen
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/business')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will make create application for you
                    .row.author-row
                      .six.columns.author-name
                        | Judy Milton
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
              .row.latest-grid
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/nightlife')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will create an awesome LOGO
                    .row.author-row
                      .six.columns.author-name
                        | Lacy Lawson
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/city')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will create a story telling style for your sales page
                    .row.author-row
                      .six.columns.author-name
                        | Ezekiel Griffin
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/fashion')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will design a beautiful flyer
                    .row.author-row
                      .six.columns.author-name
                        | Denholm Simms
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
                .three.columns.latest-item
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/sports')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") I will make any app design
                    .row.author-row
                      .six.columns.author-name
                        | Nevil Botwright
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;1000
  .row
    .twelve.columns
      .company-summary
        .container.content-container
          h1.top-heading Why use ServiceMart?
          .row
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-1.png');")
                  h4.text TOP SAFE
                .twelve.columns
                  .badge-testimony
                    | ServiceMart is a community that values your trust &amp; safety with the trustful review system.
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-2.png');")
                  h4.text Secure Transaction
                .twelve.columns
                  .badge-testimony
                    | All transactions are synced with the virtual currency system. Everything is under admin control.
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-3.png');")
                  h4.text Sellers Community
                .twelve.columns
                  .badge-testimony
                    | Join service mart to order gigs with high quality from top sellers.
  .row
    .twelve.columns
      .categories
        .container.content-container
          h1.top-heading Job Categories
          .row
            .twelve.columns
              .row.categories-grid
                .three.columns.category-item.tablet-two(title="Logo Design", style="background-image: url('http://lorempixel.com/255/255/sports')")
                  a.item-text(href="#") Logo Design
                .three.columns.category-item.tablet-two(title="Graphics & Design", style="background-image: url('http://lorempixel.com/255/255/people')")
                  a.item-text(href="#") Graphic &amp; Design
                .three.columns.category-item.tablet-two(title="Copywriting", style="background-image: url('http://lorempixel.com/255/255/abstract')")
                  a.item-text(href="#") Copywriting
                .three.columns.category-item.tablet-two(title="Translation", style="background-image: url('http://lorempixel.com/255/255/fashion')")
                  a.item-text(href="#") Translation
              .row.categories-grid
                .three.columns.category-item.tablet-two(title="Digital Marketing", style="background-image: url('http://lorempixel.com/255/255/nightlife')")
                  a.item-text(href="#") Digital Marketing
                .three.columns.category-item.tablet-two(title="Wordpress", style="background-image: url('http://lorempixel.com/255/255/technics')")
                  a.item-text(href="#") Wordpress
                .three.columns.category-item.tablet-two(title="Website & Programming", style="background-image: url('http://lorempixel.com/255/255/business/')")
                  a.item-text(href="#") Website &amp; <br > Programming
                .three.columns.category-item.tablet-two(title="Lifestyle", style="background-image: url('http://lorempixel.com/255/255/cats')")
                  a.item-text(href="#") Lifstyle
  .row
    .twelve.columns
      .company-summary
        .container
          h1.top-heading What is the Company?
          p
            i(class="fa fa-quote-left")
            | &nbsp;&nbsp;
            span(class="first-letter") S
            | erviceMart is a service driven company with trust guarantee. Buyers and sellers meet on this platform to 
            | sell and buy services at a minimum cost of 1,000 naira
            | &nbsp; &nbsp;
            i(class="fa fa-quote-right")
  .row
    .twelve.columns
      .banner-wrapper
        .bottom-banner-wrapper
          .row
            h1.twelve.columns Join Now
              small.small-text We got you covered
          .row
            .eight.columns.flex.v-center.j-content-center
              button(class="button columns base-button join-button") Be a member today

