doctype html
html
  head
    title ServiceMart
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(href="css/normalize.css", rel="stylesheet")
      link(href="css/modal.min.css", rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Arsenal", rel="stylesheet")
      link(href="css/font-awesome.min.css", rel="stylesheet")
      link(href="css/skeleton.css", rel="stylesheet")
      link(href="css/main.min.css", rel="stylesheet")
      //- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
  body
    include partials/_modal.pug
    include partials/_sign_up_modal.pug
    .content-margin
      header.u-full-width.row
        .logo-row-container
          .container.main-container
            .row.logo-row
              .four.columns.mobile-three
                .logo
                  .logo-content
                    a(href="/", style="text-decoration: none; color: black") <b>SERVICE MART</b>
              block loggedInMenu
              
        .menu-container
          .container.menubar-container
            .row
              .twelve.columns
                .hamburger-container
                  button.button#hamburger-menu-button MENU
                .menu-wrapper
                  .menu
                    a(href="#", class="button") Logo Deisgn
                  .menu
                    a(href="#", class="button") Graphics &amp; Design
                  .menu
                    a(href="#", class="button") Copywriting
                  .menu
                    a(href="#", class="button") Translation
                  .menu
                    a(href="#", class="button") Digital Marketing
                  .menu
                    a(href="#", class="button") Wordpress
                  .menu
                    a(href="#", class="button") Website &amp; Programming
                  .menu
                    a(href="#", class="button") Tech Support
                  .menu
                    a(href="#", class="button") Lifestyle

      block content
      footer.u-full-width.row
        .container.main-container
          .row
            .three.columns.tablet-two
              .footer-div
                h5
                  i(class="fa fa-signal")
                  | &nbsp;&nbsp;&nbsp;Discover
                ul
                  li How it works
                  li Trust and Quality
                  li Blog
            .three.columns.tablet-two
              .footer-div
                h5
                  i(class="fa fa-building")
                  | &nbsp;&nbsp;&nbsp;Company
                ul
                  li About Us
                  li Terms of service
                  li Privacy Policy
            .three.columns.tablet-two
              .footer-div
                h5
                  i(class="fa fa-search-plus")
                  | &nbsp;&nbsp;&nbsp;Solutions
                ul
                  li Enterprise Solutions
            .three.columns.tablet-two
              .footer-div
                h5
                  i(class="fa fa-phone")
                  | &nbsp;&nbsp;&nbsp;Contact Us
                ul
                  li Service Mart
                  li contact@servicemart.com
          .row.copyright-row
            .twelve.columns
              .copyright
                p
                  | &copy; Company

    block scripts
      script(src="js/jquery-3.1.1.min.js", type="text/javascript")
      script(src="js/masonry.pkgd.js", type="text/javascript")
      script(src="js/modal.min.js", type="text/javascript")
      script(src="js/main.min.js", type="text/javascript")
      //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

      
