extends layout
block loggedInMenu
  //- .four.columns.u-pull-right.tablet-four.mobile-seven
  //-   div.u-pull-right.signin
  //-     .signin-content
  //-       a(href="#", class="button", type='button', data-toggle='modal', data-target='#signinModal') Signin
  //-       a(href="#", class="button button-signup") SignUp
  .six.columns.u-pull-right.tablet-four.mobile-seven
    div.u-pull-right.signin
      .signin-content.member.mobile-member
        a(href="#", class="button")
          i(class="fa fa-bell")
        a(href="#", class="button t-hide")
          i(class="fa fa-comment")
        a(href="#", class="button post-job t-hide")
          span Post a job
          i(class="fa fa-plus")
        a#mobile-menu-profile-button(href="#", class="button l-hide")
          span(class="avatar")
        a(href="#", class="button t-hide")
          span(class="avatar")
          span.member-avatar John Doe
          i(class="fa fa-angle-right")
  #mobile-member-menu.mobile-member-menu.l-hide
    a#mobile-menu-profile-close(href="#", class="button") X Close
    a(href="#", class="button") Dashboard
    a(href="#", class="button") My Profile
    a(href="#", class="button") My Orders
    a(href="#", class="button") My Invoices
    a(href="#", class="button") Post a Job
    a(href="#", class="button") Message
    a(href="#", class="button") Sign Out

block content
  .row
    .twelve.columns
      .banner-wrapper
        .banner-form-wrapper
          .row
            h1.twelve.columns Get your stuffs done from &#8358;5 <br/>
              small.small-text Browse through millions of micro jobs. Choose one you trust. Pay as you go.
          .row
            form(class="ten columns search-form")
              .search-container.twelve.columns
                div.looking-text.three.columns.flex.v-center.j-content-center I am looking for..
                input(type="text", class="six columns", placeholder="Search....")
                button(type="submit", class="three columns", style="margin-left: 0") Search
  .row
    .twelve.columns
      .company-summary
        .container
          h1.top-heading What is the &nbsp;
            b ServiceHub
            | ?
          p
            i(class="fa fa-quote-left")
            | &nbsp;&nbsp;
            span(class="first-letter") S
            | erviceHub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            | &nbsp; &nbsp;
            i(class="fa fa-quote-right")
  .row
    .twelve.columns
      .latest
        .container.content-container
          h1.top-heading Latest ServiceHub Jobs
          .row
            .twelve.columns
              .row.latest-grid
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/abstract')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/animals')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/nature')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/business')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
              .row.latest-grid
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/nightlife')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/city')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/fashion')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
                .three.columns.latest-item.tablet-two
                  .item-img(style="background-image: url('http://lorempixel.com/200/200/sports')")
                  .item-desc
                    .row
                      .twelve.columns.caption
                        h5
                          a(href="#") Lorem Ipsum
                    .row.author-row
                      .six.columns.author-name
                        | Lorem Author
                      .six.columns.author-rating
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    .row.price-row
                      .twelve.columns
                        span.price &#8358;7
  .row
    .twelve.columns
      .company-summary
        .container.content-container
          h1.top-heading Why works with ServiceHub?
          .row
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-1.png');")
                  h4.text TOP SAFE
                .twelve.columns
                  .badge-testimony
                    | ServiceHub is a community that values your trust &amp; safety with the trustful review system.
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-2.png');")
                  h4.text Secure Transaction
                .twelve.columns
                  .badge-testimony
                    | All transactions are synced with the virtual currency system. Everything is under admin control.
            .four.columns
              .row
                .twelve.columns.badge
                  .what-icon-container(style="background-image: url('images/why-icon-3.png');")
                  h4.text Sellers Community
                .twelve.columns
                  .badge-testimony
                    | Join our micro job marketplace to order gigs with the high quality from top sellers.
  .row
    .twelve.columns
      .categories
        .container.content-container
          h1.top-heading Job Categories
          .row
            .twelve.columns
              .row.categories-grid
                .three.columns.category-item.tablet-two(title="Logo Design", style="background-image: url('http://lorempixel.com/255/255/sports')")
                  a.item-text(href="#") Logo Design
                .three.columns.category-item.tablet-two(title="Graphics & Design", style="background-image: url('http://lorempixel.com/255/255/people')")
                  a.item-text(href="#") Graphic &amp; Design
                .three.columns.category-item.tablet-two(title="Copywriting", style="background-image: url('http://lorempixel.com/255/255/abstract')")
                  a.item-text(href="#") Copywriting
                .three.columns.category-item.tablet-two(title="Translation", style="background-image: url('http://lorempixel.com/255/255/fashion')")
                  a.item-text(href="#") Translation
              .row.categories-grid
                .three.columns.category-item.tablet-two(title="Digital Marketing", style="background-image: url('http://lorempixel.com/255/255/nightlife')")
                  a.item-text(href="#") Digital Marketing
                .three.columns.category-item.tablet-two(title="Wordpress", style="background-image: url('http://lorempixel.com/255/255/technics')")
                  a.item-text(href="#") Wordpress
                .three.columns.category-item.tablet-two(title="Website & Programming", style="background-image: url('http://lorempixel.com/255/255/business/')")
                  a.item-text(href="#") Website &amp; <br > Programming
                .three.columns.category-item.tablet-two(title="Lifestyle", style="background-image: url('http://lorempixel.com/255/255/cats')")
                  a.item-text(href="#") Lifstyle
  .row
    .twelve.columns
      .company-summary
        .container
          h1.top-heading What is the Company?
          p
            i(class="fa fa-quote-left")
            | &nbsp;&nbsp;
            span(class="first-letter") S
            | erviceHub Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            | &nbsp; &nbsp;
            i(class="fa fa-quote-right")
  .row
    .twelve.columns
      .banner-wrapper
        .bottom-banner-wrapper
          .row
            h1.twelve.columns Join Now
              small.small-text We got you covered
          .row
            .eight.columns.flex.v-center.j-content-center
              button(class="button columns base-button join-button") Be a member today

