extends base_layout
block content
  .container.main-container
    .row
      block subTopHeader
    .row
      .four.columns
        block sidebar
      .eight.columns.tablet-container.full
        block contentArea
block loggedInMenu
  .four.columns.u-pull-right.tablet-four.mobile-seven
    div.u-pull-right.signin
      .signin-content
        a(href="#", class="button", type='button', data-toggle='modal', data-target='#signinModal') Signin
        a(href="#", class="button button-signup", data-toggle='modal', data-target='#signupModal') SignUp
