extends pages_layout
block subTopHeader
  .twelve.columns
    .row.category-main-header.flex.v-center(style="flex-wrap: wrap")
      .nine.columns
        .row.category-page-header.flex.v-center
          .twelve-columns
            h4 5 SEARCH RESULTS IN TECH SUPPORT
      hr.l-hide
      .three.columns
        .row.sort-form.flex.v-center
          label.three.columns(for="sort_params") Sort By: &nbsp;&nbsp;
          select.nine.columns(name="sort_params", id="sort_params")
            option(value="new") New
            option(value="high_rating") High Rating
    hr
block sidebar
  .t-hide
    h4 Categories
    a.button(id="trial",role='button', data-toggle='collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
      | Web Design
    #collapseExample.collapse
      .well
        | This is the well
    .mobile-member-menu(style="display: block")
      a(href="#", class="button") Dashboard
      a(href="#", class="button") My Profile
      a(href="#", class="button") My Orders
      a(href="#", class="button") My Invoices
      a(href="#", class="button") Post a Job
      a(href="#", class="button") Message
      a(href="#", class="button") Sign Out
block contentArea
  .row
    .twelve.columns
      .row
        .twelve.columns
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/abstract')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will any image
                .row.author-row
                  .six.columns.author-name
                    | Kaylee Judd
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/animals')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will do any transcription
                .row.author-row
                  .six.columns.author-name
                    | Leonard Trevors
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/nature')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will type anything
                .row.author-row
                  .six.columns.author-name
                    | Christopher Ofor
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/business')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will proof read anything
                .row.author-row
                  .six.columns.author-name
                    | Jaye Sidney
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/nightlife')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will vet for you
                .row.author-row
                  .six.columns.author-name
                    | Rita Dominic
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/city')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will design for you
                .row.author-row
                  .six.columns.author-name
                    | Okonkwo Judith
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/fashion')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will write effective cover letters for you
                .row.author-row
                  .six.columns.author-name
                    | Rita Charles
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/sports')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will proof read your pages
                .row.author-row
                  .six.columns.author-name
                    | Charles Xhibia
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
  hr
  .row.pagination-row.flex.v-center
    .twelve.columns
      nav(aria-label='Page navigation')
        ul.pagination
          li
            a(href='#', aria-label='Previous')
              span(aria-hidden='true') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#', aria-label='Next')
              span(aria-hidden='true') »