extends pages_layout
block subTopHeader
  .twelve.columns
    .row.category-main-header.flex.v-center(style="flex-wrap: wrap")
      .nine.columns.tablet-container.full
        .row.category-page-header.flex.v-center
          .twelve.columns.mobile-center
            h4 5 SEARCH RESULTS IN TECH SUPPORT
        hr.l-hide
      .three.columns.tablet-container.full
        .row.sort-form.flex.v-center
          select.nine.columns.tablet-container.full(name="sort_params", id="sort_params")
            option(value) Sort By:
            option(value="new") New
            option(value="high_rating") High Rating
    hr
block sidebar
  .t-hide
    h4 Categories
    #accordion(role='tablist', aria-multiselectable='true')
      .flex.column-direction
        a.button.twelve.columns.green-button-basic(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
          | Web Design &nbsp;
          i.fa.fa-angle-down
        #collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
          .flex.v-center.column-direction.j-content-start
            a.button.ibutton(href="#") One
            a.button.ibutton(href="#") two
            a.button.ibutton(href="#") three
      .flex.column-direction
        a.button.twelve.columns.green-button-basic.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
          | Graphics &amp; Design &nbsp;
          i.fa.fa-angle-down
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .flex.v-center.column-direction.j-content-start
            a.button.ibutton(href="#") One
            a.button.ibutton(href="#") two
            a.button.ibutton(href="#") three
      .flex.column-direction
        a.button.twelve.columns.green-button-basic.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
          | Copywriting &nbsp;
          i.fa.fa-angle-down
        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
          .flex.v-center.column-direction.j-content-start
            a.button.ibutton(href="#") One
            a.button.ibutton(href="#") two
            a.button.ibutton(href="#") three
      .flex.column-direction
        a.button.twelve.columns.green-button-basic.collapsed(role='button', href='#')
          | Digital Marketing
      .flex.column-direction
        a.button.twelve.columns.green-button-basic.collapsed(role='button', href='#')
          | Translation
      .flex.column-direction
        a.button.twelve.columns.green-button-basic.collapsed(role='button', href='#')
          | Wordpress
block contentArea
  .row
    .twelve.columns
      .row
        .twelve.columns
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/abstract')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will any image
                .row.author-row
                  .six.columns.author-name
                    | Kaylee Judd
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/animals')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will do any transcription
                .row.author-row
                  .six.columns.author-name
                    | Leonard Trevors
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/nature')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will type anything
                .row.author-row
                  .six.columns.author-name
                    | Christopher Ofor
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/business')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will proof read anything
                .row.author-row
                  .six.columns.author-name
                    | Jaye Sidney
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/nightlife')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will vet for you
                .row.author-row
                  .six.columns.author-name
                    | Rita Dominic
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/city')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will design for you
                .row.author-row
                  .six.columns.author-name
                    | Okonkwo Judith
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
          .row.latest-grid
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/fashion')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will write effective cover letters for you
                .row.author-row
                  .six.columns.author-name
                    | Rita Charles
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
            .four.columns.latest-item.tablet-two.relative
              .item-img(style="background-image: url('http://lorempixel.com/200/200/sports')")
              .item-desc
                .row
                  .twelve.columns.caption
                    h5
                      a(href="#") I will proof read your pages
                .row.author-row
                  .six.columns.author-name
                    | Charles Xhibia
                  .six.columns.author-rating
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                    i(class="fa fa-star")
                .row.price-row
                  .twelve.columns
                    span.price &#8358;1000
                    button.button.button-primary.absolute.active-button Active
  hr
  .row.pagination-row.flex.v-center
    .twelve.columns
      nav(aria-label='Page navigation')
        ul.pagination
          li
            a(href='#', aria-label='Previous')
              span(aria-hidden='true') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#', aria-label='Next')
              span(aria-hidden='true') »