#signinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signinModal')
  .modal-dialog(role='document')
    .modal-content
      .modal-header.signin-modal-header
        .row
          .three.columns.u-pull-right
            button.close.modal-close-btn(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .nine.columns
            h4#signinModal.modal-title Sign In
      .modal-body
        .row
          .three.columns &nbsp;
          .eight.columns
            form.twelve.columns.signin-form
              .row
                .two.columns
                .one.column(style="padding-top: 18px")
                  span
                    i(class="fa fa-user", style="font-size: 18px;")
                .eight.columns
                  input.twelve.columns(type="text")
              .row
                .two.columns
                .one.column(style="padding-top: 18px")
                  span
                    i(class="fa fa-lock", style="font-size: 18px;")
                .eight.columns
                  input.twelve.columns(type="password")
              .row(style="margin-top: 25px")
                .four.columns
                  button.signin-button.twelve.columns(type="button") Sign In
                .four.columns
                  a(href="#", class="button forgot-password") Forgot Password?
        .row.social-login-row
          .six.columns.u-pull-right
            | Or Login with:
            a(href="#", class="button", style="color: #002993")
              i(class="fa fa-facebook")
            a(href="#", class="button", style="color: #03a9f4")
              i(class="fa fa-twitter")
            a(href="#", class="button", style="color: #d72227")
              i(class="fa fa-google-plus")

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary.signup-instead(type='button') Signup instead?