body {
	font-family: $base_font;
	font-size: $base_font_size;
}

.main-container {
	@include calculate(1440, 'max-width');
}

.content-container {
	@include calculate(1200, 'max-width');
}

.logo-row-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	background-color: white;
	z-index: 999;
}

.menu-container{
	background-color: #ececec;
}

.ibutton {
	margin-bottom: unset;
	border: unset;
}

.menubar-container {
	max-width: 1440px;
}

.menu-wrapper {
	@extend .flex;
	@extend .v-center;
	@include calculate(50, 'min-height');
	@include calculate(60, 'height');
	@include calculate(65, 'margin-top');
	@include calculate(7.5, 'padding');
	transition: all 1s;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;

	.menu {
		position: relative;
		.button {
			@extend .ibutton;
			position: relative;
			z-index: 12;
			transition: all 0.5s;
			&:hover {
				color: white;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left:  0;
			height: 0%;
			background-color: rgba($forestgreen, 1);
			width: 100%;
			z-index: 10;
			transition: all 0.2s;
		}
		&:hover:before {
			height: 50%;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left:  0;
			height: 0%;
			background-color: rgba($forestgreen, 1);
			width: 100%;
			z-index: 10;
			transition: all 0.2s;
		}

		&:hover:after {
			height: 50%;
		}
	}

	&:hover {
		height: 150px;
	}
}

.cat-latest-section {
	background-color: #ececec;
	@include calculate(500, 'min-height');
	@include calculate(50, 'padding-top');
	@include calculate(50, 'padding-bottom');
}

.logo {
	@extend .flex;
	@extend .v-center;
	@include calculate(58, 'min-height');
	.logo-content {
		@include calculate(10, 'padding-left');
	}
}

.logo-row {
	@include calculate(1440, 'max-width');
	@include calculate(60, 'min-height');
}

.signin {
	@extend .flex;
	@extend .v-center;
	@include calculate(58, 'min-height');
	.signin-content {
		@include calculate(10, 'padding-right');
		.button {
			@extend .ibutton;
			font-size: 13px;
		}
		.button-signup {
			background-color: $forestgreen;
			color: white;
		}
	}
}

.top-heading {
	@include calculate(10, 'padding');
	opacity: .8;
	@extend .flex;
	@extend .v-center;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		border-color: black;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
	}
}

.small-text {
	font-size: 17px;
	display: block;
	font-style: italic;
	word-spacing: 3px;
}

.florescent-shadow {
	background-color: white;
	box-shadow: 2px 5px 43px rgba(188, 207, 219, 0.65);
}

.green-button-basic {
	border-color: $mediumseagreen;
}

.normal-hr {
	margin-top: 10px !important;
}

.no-margin {
	margin: 0;
}

.white-text {
	color: white;
}

.late-button {
	background-color: red;
	border: unset;
}

.resolved-button {
	background-color: #5D8635;
	border: unset;
}

.disputing-button {
	background-color: #3B567B;
	border: unset;
}

.active-task-button {
	background-color: #00CCBB;
	border: unset;
}

.finished-button {
	background-color: $mediumseagreen;
	border: unset;
}

input[type=date] {
	height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}