.small-margin {
	margin: 0 0 0 10px !important;
}

.cummulative-price {
	color: $mediumseagreen;
	position: relative;
	font-weight: 700;
	margin-left: 7px;
	.price {
		font-size: 20px;
	}

	.currency {
	    position: absolute;
	    top: 0;
	    left: -12px;
	}
}

.rev-summary-column {
	h6 {
		margin-bottom: 10px;
	}

	&:nth-child(2) {
		border-left: 1px solid #ececec;
		border-right: 1px solid #ececec;
	}

}

.l-border {
	border-left: 1px solid #ececec;
}

.r-border {
	border-right: 1px solid #ececec;
}