.flex {
    display: flex;
}

.v-center {
    align-items: center;
}

.j-content-center {
    justify-content: center;
}

.j-content-end {
    justify-content: flex-end;
}

.border {
    border: 1px solid;
}

