.avatar {
    @media screen and (min-width: 1000px) {
           right: 15%;
       }   
}

.search-form {
    .search-container {
        button {
            @media screen and (min-width: 750px) {
                padding: unset;
            }
        }
    }
}

.tablet-four {
    @media screen and (min-width: 750px) {
        width: 36% !important;
    }
    @media screen and (min-width: 1000px) {
        width: inherit !important;
    }
}

.tablet-two {
    @media screen and (min-width: 750px) and (max-width: 1024px) {
        width: 48% !important;
    }
    &:nth-child(3n) {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            margin-left: 0;
        }
    }
}

.mobile-three {
    @media screen and (max-width: 550px) {
        width: 30% !important;
    }
}

.mobile-seven {
    @media screen and (max-width: 550px) {
        width: 70% !important;
    }
}

.banner-form-wrapper,
.bottom-banner-wrapper {
    @media screen and (min-width: 750px) and (max-width: 1024px) {
        width: 90%;
        transition: all 1s;
    }

    @media screen and (max-width: 750px) {
		width: 70%;    	
    }
}

.banner-form-wrapper {
	.row:nth-child(1) {
		margin-bottom: 30px;
		h1 {
			small {
				line-height: normal;
				padding-bottom: 20px;
			}
		}
	}
}

.menu-wrapper {
    @media screen and (max-width: 550px) {
        transition: all 1s;
        height: 0px;
        min-height: 0px;
        padding: 0px;
        margin-top: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.hamburger-active {
	@include calculate(350, 'height');
}

.hamburger-container {
    @extend .flex;
    @extend .v-center;
    @include calculate(50, 'min-height');
    // @include calculate(50, 'height');
    @include calculate(65, 'margin-top');
    @include calculate(7.5, 'padding');
    transition: all 1s;
    justify-content: space-around;
    flex-direction: column;
}

.top-heading {
	@media screen and (max-width: 550px) {
		flex-direction: column;
	}
}

.mobile-member-menu {
    transform: translateX(100%);
    visibility: hidden;

    @media screen and (max-width: 768px) {
        position: fixed;
        background-color: white;
        top: 0;
        right: 0px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 9999;
        transform: translateX(100%);
        visibility: hidden;
        transition: all .7s;
    }

    a {
        @media screen and (max-width: 768px) {
            margin-bottom: unset;
            border: unset;
            border-radius: unset;
            border-bottom: 1px solid rgba(0,0,0, .3);
            margin: 10px 0;
        }
    }
}

.mobile-categories-menu {
    transform: translateX(-100%);
    visibility: hidden;

    @media screen and (max-width: 768px) {
        position: fixed;
        background-color: $mediumseagreen;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 9999;
        transform: translateX(-100%);
        visibility: hidden;
        transition: all .7s;
    }

    a {
        @media screen and (max-width: 768px) {
            margin-bottom: unset;
            border: unset;
            border-radius: unset;
            border-bottom: 1px solid rgba(0,0,0, .3);
            margin: 10px 0;
            color: white;
        }
    }
}

.m-hide {
    @media screen and (max-width: 550px) {
        display: none !important;
    }
}

.t-hide {
     @media screen and (max-width: 1000px) {
        display: none !important;
    }
}

.l-hide {
    @media screen and (min-width: 1001px) {
        display: none !important;
    }
}

.mobile-menu-show {
    visibility: visible !important;
    transform: translateX(0) !important;
}

