.modal-close-btn {
	@extend .ibutton;
	font-size: 18px;
	color: white;
}

.signin-modal-header {
	h4 {
		color: white;
	}
}

.signin-modal-header, .signin-button, .signup-instead {
	background-color: $mediumseagreen;
}

.signin-button, .signup-instead {
	@extend .ibutton;
	color: white;
}

.signin-form {
	input {
		border-radius: unset;
		border-top: unset;
		border-right: unset;
		border-left: unset;
		border-color: gray;
		border-bottom: 1px solid;
		margin: 20px 0;
	}
}

.forgot-password {
	@extend .ibutton;
}

.social-login-row {
	margin: 20px 0;

	a {
		@extend .ibutton;
		padding: 0 15px;
		font-size: 16px;
	}
}

h2.horizontal-rule {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;

	span {
		background: #fff;
    	padding: 0 10px;
    	font-size: 20px;
	}
}
